.headerIcon,
.nav a,
#back-top a,
.menu,
.mobileDarkBg,
.modMenuHeight,
.txt:focus,
.txt:valid,
.txt:invalid,
.menu1,
.menu2,
.iCan,
.mobile-menu,
.contactMe,
.btn-2:active::after,
.btn-2:hover::after,
.btn-2:active::before,
.btn-2:hover::before,
.btn-2::after,
.btn-2::before,
.pict .to-site,
.dark,
.display-block,
.show-hide,
.visible a,
.btn {
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out
}

h4 {
    margin-top: 0
}

section h1 {
    text-align: center;
    font-weight: 300;
    margin-top: 0;
    font-size: 23pt
}

input,
textarea {
    border-radius: 0;
    -webkit-border-radius: 0;
}

h1 span,
h2 {
    color: rgba(249, 32, 4, .5);
    max-width: 100%;
    font-size: 30pt;
    font-weight: 400;
    text-transform: uppercase
}
.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}
.line {
    background: #fff;
    display: inline-block;
    margin-top: 39px;
    margin-bottom: 99px;
    position: relative;
}

.line::before,
.line::after {
    background: #000;
    bottom: calc(50% - 1px);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 40px;
}

.line::before {
    left: -60px;
}

.line::after {
    right: -60px;
}

.headerIcon:hover,
.headerIcon:active {
    background: none;
    border: 1px solid #fbe7ce;
    color: #fbe7ce
}

.navbar {
	border: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	height: 90px;
	margin: 0;
	width: 100%;
	z-index: 999;
}
.navbar div{
	height: 100%;	
	line-height: 90px;
}
.row, .content {
	margin: 0 !important;
	min-height: 100% !important;
	padding: 0 !important;
}
.navbar .nav{
	height: 100%;
	margin: 0;
	margin-left: 6%;
}
.navbar .nav li{
	height: 100%;
}
.navbar .nav li a{
	color: #fff;
	font-size: 14pt;
	height: 100%;
	line-height: 90px;
	padding: 0 10px;
	position: relative;
	text-transform: uppercase;
}
.navbar .nav li a::after{
	background: red;
	bottom: 20px;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	width: 0;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}
.navbar .nav li a:hover{
	background: none
}
.navbar .nav li a:hover::after{
	width: 100%
}
.navbar .nav li a:focus{
	background: none
}
.drop-down {
    height: 100% !important
}

.menu_Button {
    height: 100% !important;
    position: relative;
    z-index: 99999999
}

.nav-icon4 {
    width: 26px !important;
    height: 15px;
    top: calc(50% - 7px);
    right: 20px;
    position: absolute;
    float: right;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer
}

.nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff !important;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon4 span:nth-child(2) {
    top: 7px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon4 span:nth-child(3) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 0px
}

.nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0
}

.nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 19px;
    left: 0px
}

.smartphoneMenu{
	display: block;
	padding: 0 15px;
	z-index: 99;
	position: fixed;
}
.smartphoneMenu .menuNav,
.smartphoneMenu .logo{
	height: 100% !important;
	width: 20% !important;
}
.smartphoneMenu .contactMe {
	margin-right: 0 !important;
}
.smartphoneMenu .menuNav_items{	
	float: right !important;
	height: 100% !important;
	text-align: center;
	width: 33.33% !important;
}
.smartphoneMenu .menuNav_items a{ 
	color: #fff;
	margin: 0 auto !important;
	text-decoration: none !important;
}

.mobile-menu-block{
	background: rgba(0,0,0, .6);
	background-size: 100% auto;
	height: 100vh!important;
	position: fixed;
	right: 0;
	top: 0;
	text-align: center;
	width: 100%;
	z-index: 999;
}

.main {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: calc(50% - 100px);
    width: 230px;
    left: calc(50% - 115px);
}

.mobile-menu-block .menuItem {
    height: 50px;
    line-height: 50px
}

.mobile-menu-block .menuItem a {
    color: #fff;
    font-size: 15pt;
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.mobile-menu-block .menuItem a:hover {
    color: #f7ddc4;
}

#back-top a {
    display: block;
    height: 60px;
    width: 60px;
    background: #676778 url(../img/arrow.svg) no-repeat;
    border: 1px solid #676778;
    border-radius: 30px;
    -webkit-border-radius: 30px;
}

#back-top a:hover,
#back-top a:active {
    background: #3d4050 url(../img/arrow.svg) no-repeat;
    border: 1px solid #3d4050
}

.opacity {
    opacity: 1
}

.opacity1 {
    opacity: 0
}

@-webkit-keyframes up_down {
    0% {
        top: -5px;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }
    100% {
        top: 5px;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }
}

@keyframes up_down {
    0% {
        top: -5px;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }
    100% {
        top: 5px;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out
    }
}

.image:hover,
.image:active {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.content {
    z-index: 3;
    min-height: 100vh;
    width: 100%;
    padding: 60px 0;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#last {
    padding-bottom: 0!important
}

.content h3 {
    padding: 0;
    color: #444;
    text-transform: uppercase;
    font-weight: normal;
}

.color1 {
    background: #fff;
    padding-bottom: 0;
}

.color2 {
    background: #fff;
}

.color3 {
    background: #f8fafc;
}

.section-content {
    width: 80%;
    margin: 0 auto
}

.section-content p {
    font-size: 16pt;
    margin: 0 auto;
    padding: 0 15px;
    text-align: justify;
    max-width: 1218px;
}

.skill {
    background: url('../img/computer.jpg') no-repeat 0% 45%;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 142px;
    position: relative;
    text-align: center;
    font-size: 0;
    overflow: hidden;
}

.skill h1 {
    color: #fff;
    font-size: 26pt;
    margin: 0;
    margin-bottom: 3%;
    text-transform: uppercase;
}

.skill_wrapper {
    background: rgba(0, 0, 0, .65);
    height: 100%;
    padding: 60px 0;
    width: 100%;
}

.skill1 {
    display: inline-block;
    position: relative;
    height: 240px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 240px;
    z-index: 3
}

.none {
    display: none
}

.svgCircle {}

.text,
.start,
.end {
    color: #fff !important;
    font-size: 25pt !important;
    position: relative;
    padding: 0;
    text-transform: uppercase;
    top: -140px;
    margin: 0
}

.start::after {
    background: #d64d61;
    bottom: -6px;
    content: '';
    display: block;
    height: 2px;
    left: 5%;
    position: absolute;
    width: 90%;
}

.text {
    display: block
}

#head4 {
    transition: .4s ease-in-out 1s;
    -webkit-transition: .4s ease-in-out 1s;
    -moz-transition: .4s ease-in-out 1s;
    -ms-transition: .4s ease-in-out 1s;
    -o-transition: .4s ease-in-out 1s;
}

#head3 {
    transition: .5s ease-in-out.9s;
    -webkit-transition: .5s ease-in-out.9s;
    -moz-transition: .5s ease-in-out.9s;
    -ms-transition: .5s ease-in-out.9s;
    -o-transition: .5s ease-in-out.9s;
}

#head2 {
    transition: .6s ease-in-out.8s;
    -webkit-transition: .6s ease-in-out.8s;
    -moz-transition: .6s ease-in-out.8s;
    -ms-transition: .6s ease-in-out.8s;
    -o-transition: .6s ease-in-out.8s;
}

#head1 {
    transition: .7s ease-in-out.7s;
    -webkit-transition: .7s ease-in-out.7s;
    -moz-transition: .7s ease-in-out.7s;
    -ms-transition: .7s ease-in-out.7s;
    -o-transition: .7s ease-in-out.7s;
}

.start {
    opacity: 1
}

.end {
    opacity: 0
}

.withCarousel {
    position: relative;
}

.section-content {
    position: relative;
    max-width: 1070px;
    margin: 0 auto;
}

.section-content1 {
    display: block;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
}

.owl-carousel {}

.owl-item {
    padding-bottom: 30px;
    text-align: center;
}

.active {
    display: block;
}

.owl-dots {
    height: 30px;
    width: 100%;
}

.owl-dots .owl-dot {
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    width: 20px;
}

.owl-dot span {
    background: rgba(100, 148, 185, .3);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    height: 20px;
    width: 20px;
}

.owl-dots .active span {
    background: rgba(100, 148, 185, .7);
}

.slideWidth {
    text-align: left;
}

.pict,
.lookMore {
    display: inline-block;
    position: relative;
    max-width: 315px;
    margin: 20px;
    height: auto;
    max-height: 300px;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.iCan {
    display: block;
    position: relative;
    top: 0;
    max-width: 458px;
    width: 100%;
}

.pict:hover .iCan {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.pict .to-site,
.lookMore .to-site {
    display: inline-block;
    color: #fff;
    position: relative;
    text-align: center;
    top: calc(50% - 35px);
    padding: 0 20px;
    margin: 0;
    height: 70px;
    line-height: 70px;
    width: auto;
    font-size: 24pt;
    font-weight: 200;
}

.pict:hover .to-site,
.pict:active .to-site,
.pict:focus .to-site,
.lookMore:hover .to-site,
.lookMore:active .to-site,
.lookMore:focus .to-site {
    color: #fff;
}

.to-site:hover,
.to-site:active {
    color: #fff!important;
}

.dark {
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    height: 25%;
    background: #5E9CA5;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.pict:hover .dark,
.pict:active .dark,
.pict:focus .dark {
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: rgba(0, 0, 0, 0.6);
}

.btn-2 {
    letter-spacing: 0;
}

.btn-2::after {
    bottom: 0;
}

.btn-2::after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff;
    content: " ";
    display: block;
    height: 1px;
    margin: 0 auto;
    position: relative;
    width: 0;
}

.btn-2:hover::after,
.btn-2:active::after,
.btn-2:focus::after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 80%;
}

.color3 {
    height: auto !important;
    min-height: 400px;
}

.form {
    width: 500px;
    height: auto;
    margin: 0 auto;
    position: relative
}

.row {
    color: #000;
    clear: both;
    width: 100%;
    height: 60px;
    padding: 3% 0;
    font-size: 0
}

.control-label,
.row,
.txt,
textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.txt {
    background: none;
    border: none;
    border-bottom: 2px solid #333;
    display: block;
    float: left;
    position: relative;
    margin: 0 0 0 5%;
    padding: 0 0 0 1%;
    height: 55px;
    width: 45%;
    font-size: 14pt;
}

.txt:valid {
    border: none;
    border-bottom: 2px solid #676767;
}

form > div > .txt:invalid {
    border: none !important;
    border-bottom: 2px solid red !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:-moz-submit-invalid {
    border: none !important;
    border-bottom: 2px solid red !important;
    box-shadow: none;
}

input:-moz-ui-invalid {
    border: none !important;
    border-bottom: 2px solid red !important;
    box-shadow: none;
}

.txt:not(:focus) {
    border: none !important;
    border-bottom: 1px solid #333 !important;
}

.txt:first-child {
    margin: 0 5% 0 0;
}

.row1 {
    position: relative;
    width: 100%;
}

textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #333;
    font-family: 'Roboto';
    font-size: 14pt;
    width: 100%;
    height: 53px !important;
    margin-top: 60px;
    padding: 13px 15px;
    box-shadow: none;
    -webkit-box-shadow: none;
    resize: none;
}

.btn {
    position: relative;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    padding: 0;
    width: 50%;
    font-family: Roboto;
    font-size: 20pt;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background: #E8474C;
    margin-top: 60px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

.btn:hover,
.btn:active {
    border: 1px solid #E8474C;
    background: none;
    color: #444
}

footer {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    height: 60px;
    width: 100%;
    background: #333333;
    color: #fff;
    padding: 0 15px;
    position: relative;
    margin-top: 123px;
    bottom: 0
}

.fot {
    color: #fff !important;
    position: relative;
    float: left;
    font-size: 13pt;
    font-weight: normal;
    height: 60px !important;
    line-height: 60px;
    margin: 0 !important;
    padding-top: 0;
    text-transform: lowercase;
    width: auto;
}

footer .cont {
    display: inline-block;
    position: relative;
    float: left;
    height: 60px;
    margin: 0;
    width: auto;
}

.share {
    display: inline-block;
    border: 1px solid #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 30px;
    height: 30px;
    margin: 14px 5px !important;
    text-align: center;
    line-height: 30px;
    font-size: 12pt;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

@media only screen and (min-width:551px) and (max-width:720px) {
    h2,
    h3 a {
        font-size: 30pt
    }
    .text-justify h1 {
        font-size: 30pt
    }
    .text-justify p,
    section p {
        font-size: 18pt
    }
}

@media only screen and (max-width:320px) {
    .btn-2::after,
    .btn-2::before {
        display: none;
    }
    div,
    svg {
        position: relative;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    .section-content {
        padding: 0;
        width: 100%!important
    }
    .section-content p {
        padding: 0 10px
    }
    .skill1,
    svg {
        height: 270px;
        width: 270px
    }
}

@media only screen and (min-width:321px) and (max-width:480px) {
    .btn-2::after,
    .btn-2::before {
        display: none;
    }
    .text-justify {
        width: 100%;
        left: 0;
        margin: 0
    }
}

@media only screen and (max-width:545px) {
    .btn-2::after,
    .btn-2::before {
        display: none;
    }
    .section-content {
        width: 90%
    }
    .a {
        z-index: 9999
    }
    .skill {
        background-size: auto 100%;
        -webkit-background-size: auto 100%;
    }
    .skill1,
    .pict,
    .lookMore {
        display: block;
        margin: 20px auto!important
    }
    .end {
        opacity: 1
    }
    .skill1:last-child {
        margin-bottom: 100px!important
    }
    .pict,
    .lookMore {
        width: 90%!important
    }
    .form {
        width: 90%
    }
    .row1 {
        padding-top: 20px;
        bottom: 0;
        position: relative
    }
    .row {
        height: 100px;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .txt {
        display: block;
        float: none;
        margin: 15px auto !important;
        height: 50px;
        line-height: 50px;
        width: 90%
    }
    textarea {
        margin-top: 30px;
        width: 90%;
    }
    #to-top {
        display: none!important
    }
    .btn {
        font-size: 15pt
    }
    footer {
    	height: auto;
        margin-top: 74px;
        position: relative
    }
    .fot, .cont{
    	float: none !important;
    	padding: 0;
    }
}

@media only screen and (max-width:390px) {
    .btn-2::after,
    .btn-2::before {
        display: none;
    }
    .headIcon {
        text-align: left!important;
        top: calc(50% - 15px)!important
    }
    .hIcon {
        height: 30px!important;
        line-height: 30px!important;
        margin-bottom: 6px!important;
        width: 30px!important
    }
    .headerIcon {
        height: 30px!important;
        line-height: 30px!important;
        width: 30px!important
    }
}

@media only screen and (min-width:391px) and (max-width:434px) {
    .btn-2::after,
    .btn-2::before {
        display: none;
    }
    .headIcon {
        text-align: left!important;
        top: calc(50% - 15px)!important
    }
    .hIcon {
        height: 30px!important;
        line-height: 30px!important;
        width: 30px!important
    }
    .headerIcon {
        height: 30px!important;
        line-height: 30px!important;
        width: 30px!important
    }
}

@media only screen and (min-width:435px) {
    .contactMe {
        width: 200px!important
    }
}

@media screen and (max-width:470px) {
    .line::before,
    .line::after {
        display: none;
    }
    .line {
        font-size: 1.7rem;
    }
    header>.text-justify p {
        border-bottom: 0 !important;
    }
}

@media only screen and (min-width:546px) and (max-width:720px) {
    .btn-2::after,
    .btn-2::before {
        display: none;
    }
    body,
    .main-had,
    .section-content1,
    .content {
        width: 100%!important
    }
    .section-content {
        width: 80%
    }
    .parallax {
        height: 100vh
    }
    .a {
        z-index: 9999
    }
    div {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .contactMe {
        left: 10px!important
    }
    .text-justify {
        z-index: 99;
        width: 100%;
        margin: 0
    }
    .skill1,
    .pict,
    .lookMore {
        display: block;
        margin: 20px auto!important
    }
    .end {
        opacity: 1
    }
    .skill1:last-child {
        margin-bottom: 100px!important
    }
    .form {
        width: 90%
    }
    .row1 {
        padding-top: 20px;
        bottom: 0;
        position: relative
    }
    .row {
        margin: 0 0 15px;
        padding: 0
    }
    .control-label,
    .txt {
        margin: 0;
        height: 50px;
        line-height: 50px
    }
    #to-top {
        display: none!important
    }
    footer {
        margin-top: 50px;
        position: relative
    }
}

@media screen and (max-width:721px) {
    .pict,
    .lookMore {
        max-width: 457px;
    }
}

@media screen and (max-width:1070px) {
    .section-content {
        width: 100% !important;
    }
}

@media only screen and (min-width:721px) and (max-width:920px) {
    div {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .parallax {
        height: 100vh!important
    }
    .text-justify {
        margin-left: 5%;
        width: 90%
    }
    .form {
        width: 90%
    }
    footer {
        margin-top: 50px;
        position: relative
    }
}

@media only screen and (max-width:700px) {
    body {
        font-size: 20pt !important;
    }
    #last > h3 {
    	margin-top: 0;
    	padding-top: 20px !important;
    }
    .line {
        margin-bottom: 39px;
    }
    .parallaxImage {
        transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        -webkit-transform: none !important;
    }
    .mobileDarkBg {
        width: 100%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .dark,
    .mobileDarkBg {
        transition: .2s ease-in-out !important;
        -webkit-transition: .2s ease-in-out !important;
        -moz-transition: .2s ease-in-out !important;
        -ms-transition: .2s ease-in-out !important;
        -o-transition: .2s ease-in-out !important;
    }
}

@media only screen and (min-width:921px) and (max-width:1300px) {
    .parallax {
        height: 100vh!important
    }
    .text-justify {
        margin-left: 5%;
        width: 90%
    }
}

@media only screen and (min-height:1000px) {
    .main-had {
        height: 1000px
    }
    .parallax,
    .content {
        height: auto!important;
        min-height: 1000px!important
    }
}
@media only screen and (max-height:1056px) {
    .skill {
    	background-size: auto 100%;
    	-webkit-background-size: auto 100%;
    }
}