.headerIcon,#back-top a,.menu,.modMenuHeight,.menu1,.menu2,.iCan,.mobile-menu,.contactMe,.btn-2:active::after,.btn-2:hover::after,.btn-2:active::before,.btn-2:hover::before,.btn-2::after,.btn-2::before,.pict .to-site,.dark,.display-block,.show-hide,.visible a,.btn {
transition:0.2s,ease-in-out;
-webkit-transition:0.2s,ease-in-out;
-moz-transition:0.2s,ease-in-out;
-ms-transition:0.2s,ease-in-out;
-o-transition:0.2s,ease-in-out
}

h4 {
margin-top:0
}

h3 {
text-align:center;
font-weight:300;
margin-top:0;
font-size:23pt
}

h3 a {
color:#E8474C;
max-width:100%;
font-size:30pt;
font-weight:400;
text-transform:uppercase
}

.headerIcon:hover, .headerIcon:active {
background:none;
border:1px solid #fbe7ce;
color:#fbe7ce
}

.visible a {
display:block;
width:100%;
height:100%;
color:#242424
}

.visible a:hover, .visible a:active {
color:#E8474C
}

.visible:last-child {
border-bottom:1px solid #000
}

.mobile-menu a {
color:#fbe7ce!important
}

.mobile-menu a,.line a {
width:100%;
height:100%;
display:block
}

#back-top a {
display:block;
height:60px;
width:60px;
background:#676778 url(../img/arrow.svg) no-repeat;
border:1px solid #676778;
border-radius:30px;
-webkit-border-radius:30px;

}

#back-top a:hover, #back-top a:active {
background:#3d4050 url(../img/arrow.svg) no-repeat;
border:1px solid #3d4050
}

.opacity {
opacity:1
}

.opacity1 {
opacity:0
}

@keyframes up_down {
0% {
top:-5px;
animation-timing-function:ease-in-out
}

100% {
top:5px;
animation-timing-function:ease-in-out
}
}

.image:hover, .image:active {
animation-play-state:paused
}

.content {
z-index:3;
min-height:100vh;
width:100%;
padding:60px 0;
position:relative;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}

#last {
padding-bottom:0!important
}

.content h3 {
padding:0
}

.color1 {
background:#fff;
border-bottom:2px solid rgba(68,73,84,0.3)
}

.color2 {
background:#fff
}

.section-content,.section-content1 {
width:80%;
margin:0 auto
}

.section-content p {
font-size:16pt;
margin:0 auto;
margin-top:90px;
text-align:justify;
max-width: 1218px;
}

.skill {
width:100%;
height:auto;
text-align:center;
font-size:0;
padding-top:3%
}

.skill h3 {
font-size:26pt;
padding-bottom:1%
}

.skill1 {
display:inline-block;
position:relative;
height:240px;
text-align:center;
width:240px;
z-index:3
}

.none {
display:none
}

svg {
height:240px;
width:240px
}

.text,.start,.end {
color:#333;
font-size:25pt;
position:relative;
padding:0;
text-transform:uppercase;
top:-140px;
margin:0
}

.start::after {
 background: rgba(232, 71, 76, .5);
 bottom:-6px;
 content:'';
 display:block;
 height:2px;
 left: 5%;
 position:absolute;
 width:90%;
}

.text {
display:none
}

#head4 {
transition:.4s ease-in-out 1s;
-webkit-transition:.4s ease-in-out 1s;
-moz-transition:.4s ease-in-out 1s;
-ms-transition:.4s ease-in-out 1s;
-o-transition:.4s ease-in-out 1s;
}

#head3 {
transition:.5s ease-in-out.9s;
-webkit-transition:.5s ease-in-out.9s;
-moz-transition:.5s ease-in-out.9s;
-ms-transition:.5s ease-in-out.9s;
-o-transition:.5s ease-in-out.9s;
}

#head2 {
transition:.6s ease-in-out.8s;
-webkit-transition:.6s ease-in-out.8s;
-moz-transition:.6s ease-in-out.8s;
-ms-transition:.6s ease-in-out.8s;
-o-transition:.6s ease-in-out.8s;
}

#head1 {
transition:.7s ease-in-out.7s;
-webkit-transition:.7s ease-in-out.7s;
-moz-transition:.7s ease-in-out.7s;
-ms-transition:.7s ease-in-out.7s;
-o-transition:.7s ease-in-out.7s;
}

.start {
opacity:1
}

.end {
opacity:0
}

.section-content1 {
font-size:0
}

.pict, .lookMore {
/* border-bottom:1px solid #333; */
position:relative;
display:inline-block;
width:30%;
max-width: 457px;
height:300px;
overflow:hidden;
margin:1.5% 2%;
box-sizing:border-box;
box-shadow: 0 0 15px rgba(0, 0, 0, .23);
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}

.pict:nth-child(2),.pict:nth-child(5n) {
margin-left:1%;
margin-right:1%
}

.iCan {
 display: block;
 position: absolute;
 top: 0;
 max-width: 458px;
 width: 100% !important;
}
.pict:hover .iCan {
 -ms-transform: scale(1.03);
     transform: scale(1.03);
}
.pict .to-site, .lookMore .to-site {
display:block;
color:#fff;
position:absolute;
text-align:center;
top:calc(50% - 35px);
padding:0;
margin:0;
left:0;
height:70px;
line-height:70px;
width:100%;
font-size:24pt;
font-weight:100
}

.pict:hover .to-site, .pict:active .to-site {
color:#fff
}

.to-site:hover, .to-site:active {
color:#fff!important
}

.dark {
position:absolute;
top:0;
width:100%;
height:25%;
background:#5b5e79;
border-radius:0;
-webkit-border-radius:0;
}

.pict:hover .dark, .pict:active .dark {
width:100%;
height:100%;
border-radius:0;
-webkit-border-radius:0;
background:rgba(0,0,0,0.6);
}

.btn-2 {
letter-spacing:0;
}

.btn-2::after {
top:0;
}

.btn-2::before {
bottom:0;
}

.btn-2::after,.btn-2::before {
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
border:1px solid rgba(255,255,255,0);
content:" ";
display:block;
margin:0 auto;
position:relative;
width:0;
}

.btn-2:hover::after,.btn-2:hover::before, .btn-2:active::after,.btn-2:active::before {
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
border-color:#fff;
width:60%
}

.btn-2:hover::before, .btn-2:active::before {
bottom:auto;
top:0;
width:60%
}

h4 {
text-align:center
}

h4 a {
display:inline-block;
margin:0 auto;
color:#E8474C;
font-weight:400;
font-size:30pt;
text-transform:uppercase;
padding-bottom:20px
}

.form {
width:500px;
height:600px;
margin:0 auto;
position:relative
}

.row {
color:#000;
width:100%;
padding:3% 0;
font-size:0
}

.control-label {
display:block;
position:relative;
line-height:70px;
float:left;
height:55px;
width:40%;
color:#000;
font-size:17pt;
padding-left:5%;
margin:0
}

.control-label,.row,.txt {
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}

.txt {
display:block;
position:relative;
margin:0;
padding:0 0 0 1%;
height:55px;
width:55%;
font-size:14pt;
}

.row1 {
position:absolute;
bottom:100px;
width:100%;
}

textarea {
width:80%;
padding:5%;
margin-left:calc(5% - 1px);
box-shadow:none;
-webkit-box-shadow:none;
resize:none;
}

.btn {
position:absolute;
bottom:0;
height:60px;
line-height:60px;
padding:0;
width:50%;
font-family:Roboto;
font-size:20pt;
font-weight:300;
text-align:center;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background:#E8474C;
left:25%;
border-radius:15px;
-webkit-border-radius:15px;
}

.btn:hover, .btn:active {
border:1px solid #E8474C;
background:#fff;
color:#444
}

footer {
clear:both;
height:180px;
width:100%;
background:#175f8a;
color:#fff;
position:relative;
margin-top:100px;
bottom:0
}

.fot {
color:#fff;
margin:0 0 30px;
padding-top:20px
}

.share {
display:inline-block;
border:2px solid #fff;
box-shadow:none;
-webkit-box-shadow:none;
width:50px;
height:50px;
margin:5px;
margin-top:0;
text-align:center;
line-height:50px;
font-size:15pt;
background:#a3d6d9;
border-radius:25px;
-webkit-border-radius:25px;
}

@media screen and (min-width: 551px) and (max-width: 720px) {
h2,h3 a {
font-size:30pt
}

.text-justify h1 {
font-size:30pt
}

.text-justify p,section p {
font-size:18pt
}
}

@media screen and (max-width: 320px) {
.btn-2::after,.btn-2::before {
 display: none;
}
div,svg {
position:relative;
box-sizing:border-box
}

.line {
width:120px!important
}

.section-content {
padding:0;
width:100%!important
}

.section-content p {
padding:0 10px
}

.skill1,svg {
height:270px;
width:270px
}
}

@media screen and (min-width: 321px) and (max-width: 480px) {
.btn-2::after,.btn-2::before {
 display: none;
}
.text-justify {
width:100%;
left:0;
margin:0
}
}

@media screen and (max-width: 545px) {
.btn-2::after,.btn-2::before {
 display: none;
}
.section-content {
width:90%
}

.a {
z-index:9999
}

.skill1,.pict, .lookMore {
display:block;
margin:20px auto!important
}

.end {
opacity:1
}

.skill1:last-child {
margin-bottom:100px!important
}

.pict, .lookMore {
width:90%!important
}

.form {
width:90%
}

.row1 {
padding-top:20px;
bottom:0;
position:relative
}

.row {
margin:0;
padding:0
}

.control-label {
text-align:center;
padding:0
}

.control-label,.txt {
float:none;
margin:0 auto;
height:50px;
line-height:50px;
width:90%
}

#to-top {
display:none!important
}

.btn {
font-size:15pt
}

footer {
margin-top:50px;
position:relative
}
}

@media screen and (max-width: 390px) {
.btn-2::after,.btn-2::before {
 display: none;
}
.contactMe {
width:120px!important
}

.headIcon {
text-align:left!important;
top:calc(50% - 33px)!important
}

.hIcon {
height:30px!important;
line-height:30px!important;
margin-bottom:6px!important;
width:30px!important
}
.headerIcon {
height:30px!important;
line-height:30px!important;
width:30px!important
}
}

@media screen and (min-width: 391px) and (max-width: 434px) {
.btn-2::after,.btn-2::before {
 display: none;
}
.contactMe {
width:200px!important
}

.headIcon {
text-align:left!important;
top:calc(50% - 15px)!important
}

.hIcon {
height:30px!important;
line-height:30px!important;
width:30px!important
}
.headerIcon {
height:30px!important;
line-height:30px!important;
width:30px!important
}
}

@media screen and (min-width: 435px) {
.contactMe {
width:200px!important
}
}

@media screen and (min-width: 546px) and (max-width: 720px) {
.btn-2::after,.btn-2::before {
 display: none;
}
body,.main-had,.section-content1,.content {
width:100%!important
}

.section-content {
width:80%
}

.parallax {
height:100vh
}

.a {
z-index:9999
}

div {
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}

.contactMe {
left:10px!important
}

.mobile-menu {
right:10px!important;
margin:0!important
}

.text-justify {
z-index:99;
width:100%;
margin:0
}

.skill1,.pict, .lookMore {
display:block;
margin:20px auto!important
}

.end {
opacity:1
}

.skill1:last-child {
margin-bottom:100px!important
}

.pict, .lookMore {
width:80%!important
}

.form {
width:90%
}

.row1 {
padding-top:20px;
bottom:0;
position:relative
}

.row {
margin:0 0 15px;
padding:0
}

.control-label,.txt {
margin:0;
height:50px;
line-height:50px
}

#to-top {
display:none!important
}

footer {
margin-top:50px;
position:relative
}
}

@media screen and (min-width: 721px) and (max-width: 920px) {
div {
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}

.parallax {
height:100vh!important
}

.text-justify {
margin-left:5%;
width:90%
}

.pict, .lookMore {
width:45%;
margin:10px!important
}

.to-site {
display:block;
width:70%!important;
left:15%!important;
font-size:24pt
}

.form {
width:90%
}

footer {
margin-top:50px;
position:relative
}
}

/* mobile look open */
@media screen and (max-width: 700px) {
.parallaxImage {
	transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	-webkit-transform: none !important;
}
.mobileDarkBg {
width:100%;
height:100%;
border-radius:0;
-webkit-border-radius:0;
background:rgba(0,0,0,0.6);
transition:0.2s,ease-in-out;
-webkit-transition:0.2s,ease-in-out;
-moz-transition:0.2s,ease-in-out;
-ms-transition:0.2s,ease-in-out;
-o-transition:0.2s,ease-in-out;
}
}
/* end */

@media screen and (min-width: 921px) and (max-width: 1300px) {
.parallax {
height:100vh!important
}

.text-justify {
margin-left:5%;
width:90%
}
}

@media screen and (min-height: 1000px) {
.main-had {
height:1000px
}

.parallax,.content {
height:auto!important;
min-height:1000px!important
}
}